<div class="row">
	<div class="col-lg-12">
		<div class="bs-component">
			<h3>Sponsors:</h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="bs-component" id="sponsors">
			<ul class="list-unstyled">
				<li><a href="http://www.ieec.binghamton.edu/ieec/"><img src="img/sponsors/ieeclogo.jpg" /></a></li>
				<li><a href="http://www.ceis.rochester.edu/"><img src="img/sponsors/ceis-cateis.jpg" /></a></li>
				<li><a href="http://www.infotonics.org/"><img src="img/sponsors/infotonics.jpg" /></a></li>
				<li><a href="http://www.src.org/"><img src="img/sponsors/src.jpg" /></a></li>
				<li><a href="http://www.analog.com/"><img src="img/sponsors/analog-logo.jpg" /></a></li>
				<li><a href="http://www.ge.com/research"><img src="img/sponsors/ge-logo.gif" /></a></li>
				<li><a href="http://www.nystar.state.ny.us/"><img src="img/sponsors/nystarnews.jpg" /></a></li>
				<li><a href="http://www.nsf.gov/"><img src="img/sponsors/nsf4c.jpg" /></a></li>
				<li><a href="http://www.onr.navy.mil/"><img src="img/sponsors/onr.jpg" /></a></li>
				<li><a href="http://www.energy.gov/"><img src="img/sponsors/doe.jpg" /></a></li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="bs-component">
			<p>Disclaimer: Any opinions, findings, and conclusions or recommendations expressed in this site are those of the AMML and do not necessarily reflect the views of our sponsors.</p>
		</div>
	</div>
</div>