<div class="row">
	<div class="col-lg-12">
		<div class="bs-component">
			<h3>Sponsors:</h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="bs-component" id="sponsors">
			<ul class="list-unstyled">
				<li><img class="bulogo" /></li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="bs-component">
			<p>Disclaimer: Any opinions, findings, and conclusions or recommendations expressed in this site are those of the AMML and do not necessarily reflect the views of our sponsors.</p>
		</div>
	</div>
</div>