<ul class="sidebar-nav">
	<li class="sidebar-text" id="sidebar-header"><u>More From AMML</u></li>
    <li class="sidebar-text"><a href="facilities.html">Facilities</a></li>
    <li class="sidebar-text"><a href="forms.html">Forms</a></li>
    <li class="sidebar-text"><a href="positions.html">Positions</a></li>
</ul>

<div id="logo">
	<a href="http://www.binghamton.edu/me/"><img src="img/me-logo.jpg"/></a>
	<a href="http://www.binghamton.edu/index.php"><img src="img/sponsors/bulogo.jpg" /></a>
</div>